{% extends "base.html" %}

{% block title %}Bot Detail{% endblock %}
{% block description %}"A bot detail"{% endblock %}

{% block section1 %}
    <fieldset>
        <legend><h2>{{ bot.bot_name }}</h2></legend>

        <p>Author: {{ bot.author }}</p>
        <p>Added date: {{ bot.add_date }}</p>
        <p>Votes: {{ bot.votes }}</p>

        <p>Description: {{ bot.description }}</p>
    </fieldset>
    <br>
    {% if user.is_authenticated %}
        <div class="container-btn">
            <a class="btn" href="{% url 'bots:vote' bot.id %}">Vote</a>
            {% if bot.author.id == user.id %}
                <a class="btn" href="{% url 'bots:update' bot.id %}">Update</a>
                <a class="btn" href="{% url 'bots:remove' bot.id %}">Remove this bot</a>
            {% endif %}
        </div>
    {% else %}
        <p>You need to log in to update the bot.</p>
    {% endif %}
    <div class="container-btn">
        <a class="btn" href="{% url 'bots:index' %}">Back</a>
    </div>
{% endblock %}