{% extends "./../base.html" %}

{% block title %}Bot Detail{% endblock %}
{% block description %}"A bot detail"{% endblock %}

{% block section1 %}
    <fieldset>
        <legend><h1>{{ bot.bot_name }}</h1></legend>

        <p>Author: {{ bot.author }}</p>
        <p>Added date: {{ bot.add_date }}</p>
        <p>Votes: {{ bot.votes }}</p>

        <p>Description: {{ bot.description }}</p>
    </fieldset>
    <br>
{% if user.is_authenticated %}
    {% if bot.author.id == user.id %}
        <a href="{% url 'bots:vote' bot.id %}">Vote</a>
        <a href="{% url 'bots:update' bot.id %}">Update</a>
        <a href="{% url 'bots:remove' bot.id %}">Remove this bot</a>
    {% endif %}
{% else %}
    <p>You need to log in to update the bot.</p>
{% endif %}
    <br>
    <br>
    <a href="{% url 'bots:index' %}">Back</a>
    <a href="{% url 'home' %}">Home</a>
{% endblock %}