{% extends "base.html" %}

{# Page to set a new password #}

{% block title %}Enter new password{% endblock %}
{% block description %}"This is the page for confirm the reset of the password."{% endblock %}

{% block section1 %}
    {% if validlink %}
        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="form">
                {{ form.as_p }}
            </div>
            <div class="container-btn">
                <input class="btn" type="submit" value="Change my password">
            </div>
        </form>

    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

    {% endif %}
    <div class="container-btn">
        <a class="btn" href="{% url 'home' %}">Home</a>
    </div>
{% endblock %}
