{% extends "base.html" %}

{# Page to add a new discord bot #}

{% block title %}Add discord bot{% endblock %}
{% block description %}"Add your discord bot"{% endblock %}

{% block section1 %}
    <h1>Add your discord bot</h1>

    <form action="{% url 'bots:add' %}" method="post">
        {% csrf_token %}
        <div class="form">
            {{ form }}
        </div>
        <div class="container-btn">
            <input class="btn" type="submit" value="Add">

            <a class="btn" href="{% url 'bots:index' %}">Back</a>
        </div>
    </form>
{% endblock %}