{% extends "base.html" %}

{% block title %}Home Page - Bots{% endblock %}
{% block description %}"This is the main page of a discord bot directory."{% endblock %}

{% block section1 %}
<h1>Find Your Discord Bot</h1>

{% if latest_bot_list %}
    <ul>
    {% for bot in latest_bot_list %}
        <li><a href="{% url 'bots:detail' bot.id %}">{{ bot.bot_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bots are available.</p>
{% endif %}
<br>
{% if user.is_authenticated %}
    Hi {{ user.username }}!
    <br>
    <a href="{% url 'bots:add' %}">Add a bot</a>
    <br>
    <p><a href="{% url 'logout' %}">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
    <br>
    <a href="{% url 'signup' %}">Create a New Account</a>
    <br>
{% endif %}
    <br>
<a href="{% url 'home' %}">Home</a>
{% endblock %}