{% extends "base.html" %}

{# Now, it's the home page #}

{% block title %}Home Page - Bots{% endblock %}
{% block description %}"This is the main page of a discord bot directory."{% endblock %}

{% block section1 %}
<h1>Find Your Discord Bot</h1>

{% if latest_bot_list %}
    <ul>
    <div class="container-btn">
        {% for bot in latest_bot_list %}
            <li><a href="{% url 'bots:detail' bot.id %}">{{ bot.bot_name }}</a></li>
        {% endfor %}
    </div>
    </ul>
{% else %}
    <p>No bots are available.</p>
{% endif %}
{% if user.is_authenticated %}
    <h3>Hi {{ user.username }}!</h3>
    <div class="container-btn">
    <a class="btn" href="{% url 'bots:add' %}">Add a bot</a>
    <a class="btn" href="{% url 'password_reset' %}">Reset Password</a>
    </div>
{% else %}
    <p>You are not logged in</p>
{% endif %}
<!-- <a href="{% url 'home' %}">Home</a> # For the future -->
{% endblock %}