{% extends 'base.html' %}

{# For the future, not use now #}

{% block title %}Home Page{% endblock %}
{% block description %}"This is the main page of a discord bot directory."{% endblock %}

{% block section1 %}
    <div class="home-page">
        <div class="content">
            <h1>Discord Directory</h1>

            <p>Discord Directory is this website where you can find the best bot for you.</p>
        </div>
        <div class="container-btn">
            <a class="btn" href="{% url 'bots:index' %}">Bots Directory</a>
            <a class="btn" href="{% url 'server:index' %}">Server Directory</a>
        </div>
    </div>
{% endblock %}

