{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}
{% block description %}"This is the main page of a discord bot directory."{% endblock %}

{% block section1 %}
    <div class="home-page">
        <h1>Discord Directory</h1>

        <p>Discord Directory is this website where you can find the best bot for you.</p>
        <!-- Do responsive (grow button and text in function of screen) -->

        <a class="btn btn-home-page" href="{% url 'bots:index' %}">Bots Directory</a>
    </div>
{% endblock %}

