/*
 * Main settings
 */

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --main-discord-color: #5865F2; /* Official discord color */
}

body {
    background: #f1f1f1;
    font-family: Arial, Helvetica, cursive;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto; /* Footer always at the bottom */
}

/*
 * Home Page
 */

/* Navbar */
nav {
    background-color: #5865F2;
}
.menu {
    display: flex;
    flex-direction: column;
}
.menu ul {
    text-align: center;
    list-style-type: none;
}
.menu li {
    float: left;
    padding: 14px 16px;
}
.menu li a {
    text-decoration: none;
    color: white;
}
.menu li:hover {
    background-color: #3747f1;
}

/* Element on page */
h1 {
    color: var(--main-discord-color);
    text-align: center;
    font-size: calc(40px + (112 - 40) * ((100vw - 320px) / (1600 - 320)));
    margin: 24px;
}

.form, h2, h3 {
    text-align: center;
}

p {
    text-align: center;
    padding: 15px 18px 30px;
}

li a {
    color: var(--main-discord-color);
}

/* All buttons */
.container-btn {
    padding-top: 20px;
    height: 180px;
    position: relative;
    top: 50%;
    left: calc(50% - 50px);
}

.btn {
    color: white;
    background-color: var(--main-discord-color);
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 10px;
}
.btn:hover {
    background-color: #3747f1;
}



/*
* FOOTER
*/

/* footer {
    flex-shrink: 0;
    border-top: 1px dashed #000;
    width: 100%;
    background: #f1f1f1;
    color: #333;
}
.content-footer {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 50px;
}

.block {
    width: 25%;
    margin: 0 30px;
}
.footer-presentation h3,
.footer-catalog h3,
.footer-links h3,
.footer-socials h3 {
    font-size: 25px;
    padding-bottom: 20px;
}
.footer-presentation p {
    padding: 5px 0;
}


.list-catalog,
.list-links,
.list-socials {
    list-style-type: none;
}
.list-links,
.list-catalog li {
    padding: 2px 0;
}
.list-links,
.list-catalog a {
    text-decoration: none;
    color: #333;
}
.list-links,
.list-catalog a:hover {
    color: rgb(3, 3, 3);
}
*/

.footer-bottom {
    text-align: center;
    padding: 15px 18px 30px;
}


.break-line {
    width: 90%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: #000;
}


/**********/
/* Medias */
/**********/
/*.list-socials {
    position: relative;
    right: 10px;
}
.list-socials img {
    width: 40px;
    margin: 10px 10px;
}
.list-socials a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    font-size: 25px;
}


/* Media queries */
/*@media screen and (max-width: 1100px) {
    .content-footer {
        width: 700px;
        flex-wrap: wrap;
    }
    .block {
        width: 40%;
        margin: 0 0;
    }
    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 50px;
    }

    .break-line {
        width: 85%;
    }
}

@media screen and (max-width: 550px) {
    .content-footer {
        width: 320px;
    }
    .block {
        width: 300px;
        margin: 30px 30px;
    }
    .block:nth-child(1),
    .block:nth-child(2) {
        margin-bottom: 30px;
    }
    .block:nth-child(1) {
        margin-top: 0;
    }
}