{% extends "base.html" %}

{% block title %}Update your bot{% endblock %}
{% block description %}"Update your discord bot"{% endblock %}

{% block section1 %}
    <h1>Update your discord bot</h1>

    <form method="post">
        {% csrf_token %}
        <div class="form">
            {{ form }}
        </div>
        <div class="container-btn">
            <input class="btn" type="submit" value="Update">

            <a class="btn" href="{% url 'bots:detail' bot.id %}">Back</a>
        </div>
    </form>
{% endblock %}