{% extends "base.html" %}

{# Page to delete a discord bot #}

{% block title %}Remove bot{% endblock %}
{% block description %}"Remove your bot"{% endblock %}

{% block section1 %}
    <h1>Remove your bot</h1>

    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ object }}" ?</p>

        <div class="container-btn">
            <input class="btn" type="submit" value="Confirm">
            <a class="btn" href="{% url 'bots:index' %}">Back</a>
        </div>
    </form>
{% endblock %}